# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# Model files - Git এ যাবে না
saved_summary_model/
*.safetensors
*.bin
*.h5
*.pth
*.pt
*.onnx

# IDE
.vscode/
.idea/
*.swp

# Vercel
.vercel/